* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  background: #eeeeee;
  border: none;
  border-top: 5px solid black;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover {
  background: white;
}

.showChanceCard {
  width: 400px;
  height: 300px;
  background: #f7941d;
  position: absolute;
  z-index: 5;
  border: 5px solid black;
  padding-top: 20px;
}

.showChanceCard h1 {
  float: clear;
}

.showChanceCard .chanceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 20px 0 20px;
}

.showChanceCard .chanceContainer img {
  width: 150px;
}

.showOtherCard,
.showStreetCard {
  position: absolute;
  z-index: 5;
  background: white;
  width: 400px;
  height: 500px;
  border: 5px solid black;
  text-transform: initial;
}

.showOtherCard .cardName,
.showOtherCard .cardNameStreet,
.showStreetCard .cardName,
.showStreetCard .cardNameStreet {
  height: 100px;
  font-size: 1.5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 5px solid black;
}

.showOtherCard .renting,
.showOtherCard .housePricing,
.showStreetCard .renting,
.showStreetCard .housePricing {
  padding: 15px;
  font-size: 1rem;
  list-style: none;
  text-align: left;
}

.showOtherCard .renting li,
.showOtherCard .housePricing li,
.showStreetCard .renting li,
.showStreetCard .housePricing li {
  padding-bottom: 10px;
}

.showOtherCard .renting li span,
.showOtherCard .housePricing li span,
.showStreetCard .renting li span,
.showStreetCard .housePricing li span {
  float: right;
}

.showOtherCard .buyOrNo,
.showStreetCard .buyOrNo {
  border-top: 5px solid black;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.showOtherCard .buyOrNo button,
.showStreetCard .buyOrNo button {
  cursor: pointer;
  width: 50%;
  height: 100%;
  float: left;
  font-weight: bold;
  border: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  background: #eeeeee;
  font-size: 1.2rem;
}

.showOtherCard .buyOrNo button:hover,
.showStreetCard .buyOrNo button:hover {
  background: white;
}

.showOtherCard .buyOrNo button:focus,
.showStreetCard .buyOrNo button:focus {
  outline: none;
}

.showOtherCard .buyOrNo .buyCard,
.showStreetCard .buyOrNo .buyCard {
  border-right: 5px solid black;
}

.showOtherCard .buyOrNo .buyCard span,
.showStreetCard .buyOrNo .buyCard span {
  padding-left: 10px;
}

.showStreetCard .renting li.rentHotel,
.showStreetCard .housePricing li.rentHotel {
  color: red;
}

.showStreetCard .renting li.rentHouse,
.showStreetCard .housePricing li.rentHouse {
  color: green;
}

.showStreetCard .housePricing {
  border-top: 5px solid black;
}

.payForCard {
  position: absolute;
  z-index: 5;
  width: 400px;
  height: 200px;
  background: white;
  border: 5px solid black;
}

.payForCard .payCardText {
  padding: 20px 0;
  height: 100%;
}

.payForCard .payCardText .payCardOwner {
  padding-bottom: 10px;
}

.payForCard .payCard {
  padding-left: 10px;
}

.payForCard h1 {
  font-size: 1.1rem;
}

.whoseTurn {
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 0px;
  border-top: 5px solid black;
  border-left: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
}

.whoseTurn .turnBtn,
.whoseTurn .finishTurnBtn {
  height: 100%;
  padding: 20px;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  border-right: 5px solid black;
  text-transform: uppercase;
  width: 200px;
}

.whoseTurn .turnBtn:hover,
.whoseTurn .finishTurnBtn:hover {
  background: white;
}

.whoseTurn .turnBtn:focus,
.whoseTurn .finishTurnBtn:focus {
  outline: none;
}

.whoseTurn .finishTurnBtn {
  display: none;
}

.whoseTurn .turnText {
  background: #ff3838;
  height: 100%;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whoseTurn .turnText .leftTime {
  display: none;
}

.theStartContainer {
  position: absolute;
  z-index: 3;
  width: 500px;
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.theStartContainer h3 {
  color: white;
  font-size: 2rem;
}

.theStartContainer h4 {
  display: inline;
  color: white;
  font-size: 1rem;
  font-weight: 100;
}

.theStartContainer select {
  margin: 20px 0;
}

.theStartContainer input {
  padding: 5px 10px;
}

.theStartContainer .selectContainer select {
  margin: 10px;
  margin-left: 20px;
}

.theStartContainer .playBtn {
  margin-top: 10px;
}

.theStartContainer .duplicatesText {
  color: red;
  margin-top: 20px;
}

.theStartContainer .chooseSymbolText {
  margin-bottom: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: 50px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .board {
  height: 1100px;
  width: 1100px;
  background: #cde6d0;
  position: relative;
  border: 4px solid black;
  border-right: 6px solid black;
}

.container .board.blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.container .board .monopoly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .board .monopoly img {
  width: 500px;
}

.container .board .chestBox {
  position: absolute;
  top: 0;
  left: 0;
  top: 150px;
  left: 150px;
}

.container .board .chestBox img {
  width: 250px;
}

.container .board .chanceBox {
  position: absolute;
  bottom: 150px;
  right: 150px;
}

.container .board .chanceBox img {
  width: 250px;
}

.container .board .box {
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.container .board .double-box {
  width: 97px;
}

.container .board .double-box.start {
  background: #cde6d0;
  position: absolute;
  bottom: 0;
  z-index: 4;
  right: 0;
  height: 100px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.container .board .double-box.start .text {
  -webkit-transform: rotate(-45deg) translate(-15px, 15px);
          transform: rotate(-45deg) translate(-15px, 15px);
}

.container .board .double-box.start .text .bigger-text {
  font-size: 15px;
}

.container .board .double-box.start img {
  width: 60px;
  -webkit-transform: translate(5px, 30px);
          transform: translate(5px, 30px);
}

.container .board .double-box.jail {
  position: absolute;
  bottom: 0;
  z-index: 4;
  left: 0;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.container .board .double-box.jail img {
  width: 100%;
}

.container .board .double-box.parking {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.container .board .double-box.parking img {
  width: 100%;
}

.container .board .double-box.goToJail {
  position: absolute;
  top: 0px;
  right: 0;
  border-top: 2px solid black;
}

.container .board .double-box.goToJail img {
  width: 96%;
}

.container .board .row,
.container .board .column {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .board .row .box,
.container .board .column .box {
  position: relative;
}

.container .board .row .box .price,
.container .board .column .box .price {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

.container .board .row .box.street .color,
.container .board .column .box.street .color {
  height: 30px;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.container .board .row .tax,
.container .board .row .chance,
.container .board .row .transfer,
.container .board .row .chest,
.container .board .row .water,
.container .board .row .electric,
.container .board .row .luxuryTax,
.container .board .column .tax,
.container .board .column .chance,
.container .board .column .transfer,
.container .board .column .chest,
.container .board .column .water,
.container .board .column .electric,
.container .board .column .luxuryTax {
  padding-top: 10px;
}

.container .board .row .chance img,
.container .board .column .chance img {
  width: 25px;
  margin-top: 5px;
}

.container .board .row .transfer img,
.container .board .column .transfer img {
  width: 20px;
  margin-top: 5px;
}

.container .board .row .chest img,
.container .board .column .chest img {
  width: 50px;
  margin-top: 5px;
}

.container .board .row .electric img,
.container .board .column .electric img {
  width: 30px;
}

.container .board .row .water img,
.container .board .column .water img {
  margin-top: 5px;
  width: 50px;
}

.container .board .row .tax img,
.container .board .column .tax img {
  width: 45px;
}

.container .board .row .luxuryTax img,
.container .board .column .luxuryTax img {
  width: 40px;
}

.container .board .row {
  width: 100%;
  height: 100px;
}

.container .board .row .box {
  width: 100px;
}

.container .board .row.horizontal-bottom {
  bottom: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container .board .row.horizontal-bottom .street .color.brown {
  background: #955436;
}

.container .board .row.horizontal-bottom .street .color.light-blue {
  background: #aae0fa;
}

.container .board .row.horizontal-top {
  top: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container .board .row.horizontal-top .street .color.red {
  background: #ed1b24;
}

.container .board .row.horizontal-top .street .color.yellow {
  background: #fef200;
}

.container .board .column .box {
  width: 99.7px;
}

.container .board .column.vertical-left {
  height: 97px;
  left: 0;
  top: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.container .board .column.vertical-left .box.street .color.purple {
  background: #d93a96;
}

.container .board .column.vertical-left .box.street .color.orange {
  background: #f7941d;
}

.container .board .column.vertical-right {
  height: 100px;
  right: -4px;
  top: -2px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.container .board .column.vertical-right .box.street .color.green {
  background: #1fb25a;
}

.container .board .column.vertical-right .box.street .color.blue {
  background: #0072bb;
}

.container .board .symbol {
  width: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.container .playerInfos .playerInfoCont {
  padding: 20px 20px;
  margin: 20px 0;
  width: 300px;
  height: 200px;
  background: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
/*# sourceMappingURL=style.css.map */