* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boardHouse {
  position: absolute;
  bottom: 70px;
  right: 0;
  width: 20px;
}

.button {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  background: #eeeeee;
  border: none;
  border-top: 5px solid black;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover {
  background: white;
}

.showChanceCard {
  display: none;
  width: 400px;
  height: 300px;
  background: #f7941d;
  position: absolute;
  z-index: 5;
  border: 5px solid black;
  padding-top: 20px;
}

.showChanceCard h1 {
  float: clear;
}

.showChanceCard .chanceContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 20px 0 20px;
}

.showChanceCard .chanceContainer img {
  width: 150px;
}

.showChanceCard .chanceButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.showChanceCard .chanceButtons .chanceAction2 {
  width: 50%;
  right: 0;
  left: initial;
  display: none;
  border-left: 5px solid black;
}

.showBusCard,
.showStreetCard,
.showServiceCard {
  display: none;
  position: absolute;
  z-index: 5;
  background: white;
  width: 400px;
  height: 500px;
  border: 5px solid black;
  text-transform: initial;
}

.showBusCard .cardName,
.showBusCard .cardNameStreet,
.showStreetCard .cardName,
.showStreetCard .cardNameStreet,
.showServiceCard .cardName,
.showServiceCard .cardNameStreet {
  height: 100px;
  font-size: 1.5rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 5px solid black;
}

.showBusCard .serviceText,
.showBusCard .renting,
.showBusCard .housePricing,
.showStreetCard .serviceText,
.showStreetCard .renting,
.showStreetCard .housePricing,
.showServiceCard .serviceText,
.showServiceCard .renting,
.showServiceCard .housePricing {
  padding: 15px;
  font-size: 1rem;
  text-align: left;
  line-height: 1.5;
  list-style: none;
}

.showBusCard .renting li,
.showBusCard .housePricing li,
.showStreetCard .renting li,
.showStreetCard .housePricing li,
.showServiceCard .renting li,
.showServiceCard .housePricing li {
  padding-bottom: 5px;
}

.showBusCard .renting li span,
.showBusCard .housePricing li span,
.showStreetCard .renting li span,
.showStreetCard .housePricing li span,
.showServiceCard .renting li span,
.showServiceCard .housePricing li span {
  float: right;
}

.showBusCard .streetCardFunctions,
.showBusCard .busCardFunctions,
.showBusCard .serviceCardFunctions,
.showStreetCard .streetCardFunctions,
.showStreetCard .busCardFunctions,
.showStreetCard .serviceCardFunctions,
.showServiceCard .streetCardFunctions,
.showServiceCard .busCardFunctions,
.showServiceCard .serviceCardFunctions {
  display: none;
}

.showBusCard .buyOrNo,
.showBusCard .streetCardFunctions,
.showBusCard .busCardFunctions,
.showBusCard .serviceCardFunctions,
.showStreetCard .buyOrNo,
.showStreetCard .streetCardFunctions,
.showStreetCard .busCardFunctions,
.showStreetCard .serviceCardFunctions,
.showServiceCard .buyOrNo,
.showServiceCard .streetCardFunctions,
.showServiceCard .busCardFunctions,
.showServiceCard .serviceCardFunctions {
  border-top: 5px solid black;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.showBusCard .buyOrNo button,
.showBusCard .streetCardFunctions button,
.showBusCard .busCardFunctions button,
.showBusCard .serviceCardFunctions button,
.showStreetCard .buyOrNo button,
.showStreetCard .streetCardFunctions button,
.showStreetCard .busCardFunctions button,
.showStreetCard .serviceCardFunctions button,
.showServiceCard .buyOrNo button,
.showServiceCard .streetCardFunctions button,
.showServiceCard .busCardFunctions button,
.showServiceCard .serviceCardFunctions button {
  cursor: pointer;
  height: 100%;
  float: left;
  font-weight: bold;
  border: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  background: #eeeeee;
  font-size: 1.2rem;
}

.showBusCard .buyOrNo button:hover,
.showBusCard .streetCardFunctions button:hover,
.showBusCard .busCardFunctions button:hover,
.showBusCard .serviceCardFunctions button:hover,
.showStreetCard .buyOrNo button:hover,
.showStreetCard .streetCardFunctions button:hover,
.showStreetCard .busCardFunctions button:hover,
.showStreetCard .serviceCardFunctions button:hover,
.showServiceCard .buyOrNo button:hover,
.showServiceCard .streetCardFunctions button:hover,
.showServiceCard .busCardFunctions button:hover,
.showServiceCard .serviceCardFunctions button:hover {
  background: white;
}

.showBusCard .buyOrNo button:focus,
.showBusCard .streetCardFunctions button:focus,
.showBusCard .busCardFunctions button:focus,
.showBusCard .serviceCardFunctions button:focus,
.showStreetCard .buyOrNo button:focus,
.showStreetCard .streetCardFunctions button:focus,
.showStreetCard .busCardFunctions button:focus,
.showStreetCard .serviceCardFunctions button:focus,
.showServiceCard .buyOrNo button:focus,
.showServiceCard .streetCardFunctions button:focus,
.showServiceCard .busCardFunctions button:focus,
.showServiceCard .serviceCardFunctions button:focus {
  outline: none;
}

.showBusCard .buyOrNo span,
.showBusCard .streetCardFunctions span,
.showBusCard .busCardFunctions span,
.showBusCard .serviceCardFunctions span,
.showStreetCard .buyOrNo span,
.showStreetCard .streetCardFunctions span,
.showStreetCard .busCardFunctions span,
.showStreetCard .serviceCardFunctions span,
.showServiceCard .buyOrNo span,
.showServiceCard .streetCardFunctions span,
.showServiceCard .busCardFunctions span,
.showServiceCard .serviceCardFunctions span {
  padding-left: 10px;
}

.buyOrNo button,
.busCardFunctions button,
.serviceCardFunctions button {
  width: 50%;
}

.buyOrNo .buyCard,
.buyOrNo .mortgage,
.busCardFunctions .buyCard,
.busCardFunctions .mortgage,
.serviceCardFunctions .buyCard,
.serviceCardFunctions .mortgage {
  border-right: 5px solid black !important;
}

.streetCardFunctions .mortgage {
  border-left: 5px solid black !important;
  border-right: 5px solid black !important;
}

.streetCardFunctions button {
  padding: 10px;
  font-size: 1rem !important;
  width: 33.33%;
}

.showStreetCard .renting li.rentHotel,
.showStreetCard .housePricing li.rentHotel {
  color: red;
}

.showStreetCard .renting li.rentHouse,
.showStreetCard .housePricing li.rentHouse {
  color: green;
}

.showStreetCard .housePricing {
  border-top: 5px solid black;
}

.payForCard {
  display: none;
  position: absolute;
  z-index: 5;
  width: 400px;
  height: 200px;
  background: white;
  border: 5px solid black;
}

.payForCard .payCardText {
  padding: 20px 0;
  height: 100%;
}

.payForCard .payCardText .payCardOwner {
  padding-bottom: 10px;
}

.payForCard .payCard {
  padding-left: 10px;
}

.payForCard h1 {
  font-size: 1.1rem;
}

.bottom {
  position: fixed;
  background: white;
  bottom: 0;
  z-index: 10;
  width: 100%;
  border-top: 5px solid black;
  height: 70px;
}

.bottom .dices {
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 100%;
  border-right: 5px solid black;
  width: 140px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom .dices .firstDice,
.bottom .dices .secondDice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom .dices .firstDice {
  border-right: 1px solid black;
}

.bottom .dices .dice img {
  width: 100%;
  height: 100%;
}

.bottom .whoseTurn {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  border-left: 5px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom .whoseTurn .turnBtn.cantTurn {
  pointer-events: none;
}

.bottom .whoseTurn .turnBtn,
.bottom .whoseTurn .finishTurnBtn {
  height: 100%;
  padding: 20px;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  border-right: 5px solid black;
  text-transform: uppercase;
  width: 200px;
}

.bottom .whoseTurn .turnBtn:hover,
.bottom .whoseTurn .finishTurnBtn:hover {
  background: white;
}

.bottom .whoseTurn .turnBtn:focus,
.bottom .whoseTurn .finishTurnBtn:focus {
  outline: none;
}

.bottom .whoseTurn .finishTurnBtn {
  display: none;
}

.bottom .whoseTurn .turnText {
  background: #ff3838;
  height: 100%;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom .whoseTurn .turnText .leftTime {
  display: none;
}

.bottom .housesAndHotels {
  background: white;
  border-right: 5px solid black;
  position: absolute;
  bottom: 0px;
  left: 140px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom .housesAndHotels .houses,
.bottom .housesAndHotels .hotels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.bottom .housesAndHotels .houses h1,
.bottom .housesAndHotels .hotels h1 {
  padding-right: 10px;
}

.bottom .housesAndHotels .houses {
  padding-right: 20px;
  border-right: 1px solid black;
}

.bottom .housesAndHotels .houses img {
  width: 60px;
}

.bottom .housesAndHotels .hotels img {
  width: 55px;
}

.theStartContainer {
  position: absolute;
  z-index: 3;
  width: 500px;
  padding: 30px 0;
  background: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.theStartContainer h3 {
  color: white;
  font-size: 2rem;
}

.theStartContainer h4 {
  display: inline;
  color: white;
  font-size: 1rem;
  font-weight: 100;
}

.theStartContainer select {
  margin: 20px 0;
}

.theStartContainer input {
  padding: 5px 10px;
}

.theStartContainer .selectContainer select {
  margin: 10px;
  margin-left: 20px;
}

.theStartContainer .playBtn {
  margin-top: 10px;
}

.theStartContainer .duplicatesText {
  color: red;
  margin-top: 20px;
}

.theStartContainer .chooseSymbolText {
  margin-bottom: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  margin: 50px auto 100px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .board {
  height: 1100px;
  width: 1100px;
  background: #cde6d0;
  position: relative;
  border: 4px solid black;
  border-right: 6px solid black;
}

.container .board.blur {
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.container .board .monopoly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .board .monopoly img {
  width: 500px;
}

.container .board .chestBox {
  position: absolute;
  top: 0;
  left: 0;
  top: 150px;
  left: 150px;
}

.container .board .chestBox img {
  width: 250px;
}

.container .board .chanceBox {
  position: absolute;
  bottom: 150px;
  right: 150px;
}

.container .board .chanceBox img {
  width: 250px;
}

.container .board .box {
  border-right: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.container .board .double-box {
  width: 97px;
}

.container .board .double-box.start {
  background: #cde6d0;
  position: absolute;
  bottom: 0;
  z-index: 4;
  right: 0;
  height: 100px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.container .board .double-box.start .text {
  -webkit-transform: rotate(-45deg) translate(-15px, 15px);
          transform: rotate(-45deg) translate(-15px, 15px);
}

.container .board .double-box.start .text .bigger-text {
  font-size: 15px;
}

.container .board .double-box.start img {
  width: 60px;
  -webkit-transform: translate(5px, 30px);
          transform: translate(5px, 30px);
}

.container .board .double-box.jail {
  position: absolute;
  bottom: 0;
  z-index: 4;
  left: 0;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.container .board .double-box.jail img {
  width: 100%;
}

.container .board .double-box.parking {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

.container .board .double-box.parking img {
  width: 100%;
}

.container .board .double-box.goToJail {
  position: absolute;
  top: 0px;
  right: 0;
  border-top: 2px solid black;
}

.container .board .double-box.goToJail img {
  width: 96%;
}

.container .board .row,
.container .board .column {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .board .row .box,
.container .board .column .box {
  position: relative;
}

.container .board .row .box .price,
.container .board .column .box .price {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

.container .board .row .box.street .color,
.container .board .column .box.street .color {
  height: 30px;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}

.container .board .row .tax,
.container .board .row .chance,
.container .board .row .transfer,
.container .board .row .chest,
.container .board .row .water,
.container .board .row .electric,
.container .board .row .luxuryTax,
.container .board .column .tax,
.container .board .column .chance,
.container .board .column .transfer,
.container .board .column .chest,
.container .board .column .water,
.container .board .column .electric,
.container .board .column .luxuryTax {
  padding-top: 10px;
}

.container .board .row .chance img,
.container .board .column .chance img {
  width: 25px;
  margin-top: 5px;
}

.container .board .row .transfer img,
.container .board .column .transfer img {
  width: 20px;
  margin-top: 5px;
}

.container .board .row .chest img,
.container .board .column .chest img {
  width: 50px;
  margin-top: 5px;
}

.container .board .row .electric img,
.container .board .column .electric img {
  width: 30px;
}

.container .board .row .water img,
.container .board .column .water img {
  margin-top: 5px;
  width: 50px;
}

.container .board .row .tax img,
.container .board .column .tax img {
  width: 45px;
}

.container .board .row .luxuryTax img,
.container .board .column .luxuryTax img {
  width: 40px;
}

.container .board .row {
  width: 100%;
  height: 100px;
}

.container .board .row .box {
  width: 100px;
}

.container .board .row.horizontal-bottom {
  bottom: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container .board .row.horizontal-bottom .street .color.brown {
  background: #955436;
}

.container .board .row.horizontal-bottom .street .color.light-blue {
  background: #aae0fa;
}

.container .board .row.horizontal-top {
  top: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.container .board .row.horizontal-top .street .color.red {
  background: #ed1b24;
}

.container .board .row.horizontal-top .street .color.yellow {
  background: #fef200;
}

.container .board .column .box {
  width: 99.7px;
}

.container .board .column.vertical-left {
  height: 97px;
  left: 0;
  top: 1px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.container .board .column.vertical-left .box.street .color.purple {
  background: #d93a96;
}

.container .board .column.vertical-left .box.street .color.orange {
  background: #f7941d;
}

.container .board .column.vertical-right {
  height: 100px;
  right: -4px;
  top: -2px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}

.container .board .column.vertical-right .box.street .color.green {
  background: #1fb25a;
}

.container .board .column.vertical-right .box.street .color.blue {
  background: #0072bb;
}

.container .board .symbol {
  width: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.container .playerInfos {
  width: 410px;
}

.container .playerInfos .playerInfoCont {
  margin: 20px 0;
  width: 100%;
  height: 200px;
  -webkit-box-shadow: 0 0 5px #d6d6d6;
          box-shadow: 0 0 5px #d6d6d6;
}

.container .playerInfos .playerInfoCont .playerInfo {
  padding: 20px 20px;
  background: #cde6d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .playerInfos .playerCards {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .playerInfos .playerCards .playerCard {
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
  width: 40px;
  height: 50px;
  border: 1px solid black;
}

.container .playerInfos .playerCards .playerCard .cardColor {
  width: 100%;
  height: 10px;
  border-bottom: 1px solid black;
}

.container .playerInfos .playerCards .playerCard .cardColor.card-brown {
  background: #955436;
}

.container .playerInfos .playerCards .playerCard .cardColor.card-lightBlue {
  background: #aae0fa;
}

.container .playerInfos .playerCards .playerCard .cardColor.card-purple {
  background: #d93a96;
}

.container .playerInfos .playerCards .playerCard .cardColor.card-orange {
  background: #f7941d;
}

.container .playerInfos .playerCards .playerCard .cardColor.card-red {
  background: #ed1b24;
}

.container .playerInfos .playerCards .playerCard .cardColor.card-yellow {
  background: #fef200;
}

.container .playerInfos .playerCards .playerCard .cardColor.card-green {
  background: #1fb25a;
}

.container .playerInfos .playerCards .playerCard .cardColor.card-blue {
  background: #0072bb;
}
/*# sourceMappingURL=style.css.map */